/*清除默认样式*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 12px;
}
li {
    list-style: none;
}
i,
em {
    font-style: normal;
}
img {
    border: 0;  /*ie6*/
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover {
    color: #c81623;
}
button {
    border: none;
}
input {
    outline: none;
}