/*首页的css样式*/

.main {
    width: 980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}

.focus {
    overflow: hidden;
    position: relative;
    height: 455px;
    width: 720px;
    background-color: purple;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}

.focus ul li {
    float: left;
    width: 720px;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'icomoon';
    background-color: rgba(0, 0, 0, .3);
    z-index: 999;
}

.arrow-l {
    left: 0;
}

.arrow-r {
    right: 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, .5);
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}

.circle .current {
    background-color: #fff;
}

.newflash {
    width: 250px;
    height: 455px;
}

.news {
    height: 163px;
    border: 1px solid #ccc;
}

.news-hd {
    height: 32px;
    padding: 0 15px;
    border-bottom: 1px dotted #ccc;
    line-height: 32px;
    font-size: 14px;
}

.news-hd a {
    float: right;
    font-size: 12px;
    font-family: 'icomoon';
}

.news-bd {
    padding: 10px 0 0 15px;
}

.news-bd li {
    height: 23px;
}

.lifeservice {
    overflow: hidden;
    height: 208px;
    border: 1px solid #ccc;
    border-top: none;
}

.lifeservice ul {
    width: 260px;
}

.lifeservice li {
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.lifeservice li a {
    display: block;
    /*解决塌陷问题*/
    /*overflow: hidden;*/
    height: 100%;
}

.lifeservice p {
    text-align: center;
}

.hot {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 15px;
    background: url(../img/jian.jpg) no-repeat;
}

.service-ico {
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px auto;
    background: url(../img/icons.png) no-repeat;
}


/* .service_ico_huafei {
    background-position: -17px -16px;
}
.service_ico_feiji {
    width: 26px;
    background-position: -78px -16px;
} */

.bargin {
    height: 75px;
    margin-top: 5px;
}


/*recommend*/

.recommend {
    height: 163px;
    margin-top: 10px;
}

.recom-hd {
    width: 200px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
}

.recom-hd img {
    margin: 30px 0 10px 0;
}

.recom-hd h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.recom-bd {
    width: 1000px;
    height: 163px;
    background-color: #ebebeb;
}

.recom-bd li {
    float: left;
    width: 249px;
    border-right: 1px solid #ccc;
    height: 145px;
    margin-top: 10px;
}

.recom-bd .last {
    border-right: 0;
}


/*floor*/

.box-hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
    margin-top: 25px;
}

.box-hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}

.tab-list {
    float: right;
    line-height: 30px;
}

.tab-list li {
    float: left;
}

.tab-list li a {
    padding: 0 15px;
}

.box-bd {
    overflow: hidden;
    height: 360px;
}

.box-bd img {
    transition: all .2s;
}

.box-bd img:hover {
    margin-left: 8px;
}

.w209 {
    width: 209px;
    background-color: #f9f9f9;
}

.w329 {
    width: 329px;
}

.w219 {
    width: 219px;
    border-right: 1px solid #ccc;
}

.w220 {
    width: 220px;
    border-right: 1px solid #ccc;
}

.tab-con li {
    float: left;
    height: 360px;
}

.tab-con-list {
    overflow: hidden;
    margin-bottom: 15px;
}

.tab-con-list li {
    width: 86px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
    text-align: center;
}

.tab-con-item {
    border-bottom: 1px solid #ccc;
}


/*fixedtool*/

.fixedtool {
    display: none;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
    background-color: #fff;
}

.fixedtool li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.fixedtool .current {
    background-color: #c81623;
}

.fixedtool .current a {
    color: #fff;
}